.overview {
    display: flex;

    .overviewContainer {
        flex: 4;
        flex-wrap: nowrap;

        .widgets{
            padding: 20px;
            gap: 20px;
            
        }

        .header {
            padding:10px;
            margin-top: 1rem;;
            -webkit-box-shadow: 5px 5px 22px 0px rgba(0,129,201,0.24);
            -moz-box-shadow: 5px 5px 22px 0px rgba(0,129,201,0.24);
            box-shadow: 5px 5px 22px 0px rgba(0,129,201,0.24);  
            border-radius: 10px;

            p {
                padding-left: 0.5rem;
                font-size: 24px;
                font-weight: 200;
            }
        }

        .BambooHR, .googleWorkspace, .jiraInfo, .qualys, .cortex, .mdm{
            display: flex;
            padding: 5px;
            margin-top: 1.5rem;
            padding-bottom: 5px;
            flex-wrap: wrap;
            
        }

        .charts {
            display: flex;
            padding: 20px;
            width: 95%;
            height: 20%;
        }
    }
}